.topbar-container {
    height: 70px;
    width: 100%;
    background-color: #6747C7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    color: white;
    width: 70%;
}

.menu > a {
    text-decoration: none;
    color: white;
}

.menu > a:visited {
    text-decoration: none;
    color: white;
}